{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="full"}}
        {{#is "post"}}
            {{> related}}
            {{> comment}}
        {{/is}}
        {{/post}}
        {{!-- {{#is "post"}}
            {{> related}}
            {{> comment}}
        {{/is}} --}}
    </main>
</div>