{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="container post-feed medium">
            {{#foreach posts visibility="all"}}
                {{> "cards"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>