/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "bishop/dmvendor.css";

/* Theme CSS */
@import "general/normalize.css";
@import "general/basics.css";
@import "general/grid.css";
@import "general/button.css";
@import "general/form.css";
@import "general/icons.css";
@import "site/layout.css";
@import "site/header.css";
@import "site/sticky.css";
@import "site/cover.css";
@import "site/footer.css";
@import "site/modal.css";
@import "site/search.css";
@import "site/popular.css";
@import "site/burger.css";
@import "blog/feed.css";
@import "blog/featured.css";
@import "blog/pagination.css";
@import "blog/single.css";
@import "blog/author.css";
@import "blog/share.css";
@import "blog/navigation.css";
@import "blog/related.css";
@import "blog/comment.css";
@import "blog/tag.css";
@import "members/plan.css";
@import "members/auth.css";
@import "members/account.css";
@import "members/notification.css";
@import "vendor/owl.css";
@import "vendor/pswp.css";
@import "misc/lazyload.css";
@import "misc/kg.css";
@import "misc/utils.css";
@import "misc/animations.css";
/* @import "misc/dark.css"; */

/* My Additions: */

.main-nav {
  font-size: 1.7rem;
}

.header-right {
  font-size: 1.7rem;
}

.cover-cta .button {
  font-size: 1.2rem;
  font-weight: bold;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.site-content {
  padding: 8rem 0;
}

/* overwrite dark */
.sticky {
  background-color: rgba(0, 0, 0, 0.6);
}

.form-button,
.pswp__counter {
  color: var(--darker-gray-color);
}

.share-link {
  background-color: var(--darker-gray-color);
}

.share-link-facebook {
  color: var(--facebook-color);
}

.share-link-twitter {
  color: var(--twitter-color);
}

@media (prefers-color-scheme: dark) {
  /* html:not(.theme-light):root {
        --primary-text-color: #e2e2e2;
        --secondary-text-color: #868686;
        --white-color: #282c35;
        --lighter-gray-color: #2f333c;
        --light-gray-color: #3b3e46;
        --mid-gray-color: #666;
        --dark-gray-color: #e6e6e6;
        --darker-gray-color: #fff;
    } */

  .logo-image.white + .logo-image,
  .cover-icon-image.white + .cover-icon-image {
    opacity: 0;
  }

  .logo-image.logo-image.white,
  .cover-icon-image.white {
    opacity: 1;
  }

  .sticky {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .form-button,
  .pswp__counter {
    color: var(--darker-gray-color);
  }

  .share-link {
    background-color: var(--darker-gray-color);
  }

  .share-link-facebook {
    color: var(--facebook-color);
  }

  .share-link-twitter {
    color: var(--twitter-color);
  }
}
